<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
</head>
<body>
    <h1>this is a ejs home page</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim totam magni quas illo corporis! Ex ullam earum dolores sit ratione nisi! Delectus nostrum vitae, nobis aliquam quae pariatur sint tempore illum voluptate dignissimos illo expedita at similique rem non velit excepturi hic, molestiae fugit? Veritatis, rem placeat nobis labore iusto consectetur eaque doloribus harum. Veritatis quisquam omnis dolor aliquam. Voluptas voluptatibus vero quas beatae? Vitae deleniti est ab porro exercitationem laboriosam ad perspiciatis dolorum vel autem, explicabo itaque? Laborum sed doloremque, alias asperiores, beatae earum delectus, eaque iure dolor ad hic saepe eligendi aspernatur laudantium fuga quidem doloribus vitae fugit?</p>
    <button>click me !!</button>
</body>
</html>